In [1]:
import pandas as pd

In [4]:
file = '/Users/euniceok/PycharmProjects/cuny/spring2019/Week4/output/tournamenttmpdf.csv'

In [12]:
df = pd.read_csv(file)
df = df.drop('Unnamed: 0',axis=1)

In [13]:
df.head()

,num,name,totpts,state,player_id,prescore,postscore,round1,round2,round3,round4,round5,round6,round7
0,1,GARY HUA,6.0,ON,15445895,1794,1817,39.0,21.0,18.0,14.0,7.0,12.0,4.0
1,2,DAKSHESH DARURI,6.0,MI,14598900,1553,1663,63.0,58.0,4.0,17.0,16.0,20.0,7.0
2,3,ADITYA BAJAJ,6.0,MI,14959604,1384,1640,8.0,61.0,25.0,21.0,11.0,13.0,12.0
3,4,PATRICK H SCHILLING,5.5,MI,12616049,1716,1744,23.0,28.0,2.0,26.0,5.0,19.0,1.0
4,5,HANSHI ZUO,5.5,MI,14601533,1655,1690,45.0,37.0,12.0,13.0,4.0,14.0,17.0

In [14]:
type(df.num[0])

numpy.int64

In [17]:
df.columns

Index(['num', 'name', 'totpts', 'state', 'player_id', 'prescore', 'postscore',
       'round1', 'round2', 'round3', 'round4', 'round5', 'round6', 'round7'],
      dtype='object')

In [57]:
# create new column
df['avg_opps_presc'] = None

In [59]:
for player in df.num:
    playerrow = df.loc[df.num.eq(player)][['round1', 'round2', 'round3', 'round4', 'round5', 'round6', 'round7']]
    playerrow = playerrow.iloc[0]
    opps = df.loc[df.num.isin(playerrow)]
    oppsmean = opps['prescore'].mean() 
     # print(player,"   ", oppsmean)
    df.loc[df.num.eq(player), 'avg_opps_presc'] = oppsmean

In [65]:
final = df[['name','state','totpts','prescore','avg_opps_presc']]
final.head()

                                name   state  totpts  prescore avg_opps_presc
0   GARY HUA                             ON      6.0      1794        1605.29
1   DAKSHESH DARURI                      MI      6.0      1553        1469.29
2   ADITYA BAJAJ                         MI      6.0      1384        1563.57
3   PATRICK H SCHILLING                  MI      5.5      1716        1573.57
4   HANSHI ZUO                           MI      5.5      1655        1500.86

In [64]:
final.to_csv('/Users/euniceok/PycharmProjects/cuny/spring2019/Week4/tournamentfinal.csv')